body {
    margin: 0px;
    background-image: url('../images/bg1.jpg');
}
/* HEADER */
/* system name */
.header{

    width: 100%;
    height: 60px;
    text-align : center;
    background: lightskyblue;
    color : black;
    font-size : 10px;
    border: 1px solid lightskyblue;

}

/* logo */
.img{
    margin-top: 20px;
    margin-left: 40px;
    position: left;
    height: 0px;
    
}

/* search bar */
.searchform {
    margin-top: -150px;
    margin-left: 250px;
    position: left;
    
}

/* search bar rounded */
.rounded {
    width: 50%;
    height: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 55px;
}
  
/* heading buttons */
.heading-cols{
    margin-top: -30px;
    margin-left: 1000px;
    width:32.5%;
    padding: 0px 10px 0px 0px;
    
}
/* Buttons[login signup admin login] */
#loginsignup{
    
    vertical-align: middle;
    width:100px;
    height:35px;
    border: 2px solid black;
    border-radius: 5%;
    padding: 5px;
    margin-right: 8px;
    margin-bottom: 25px;
    background-color: lightskyblue;
}
#loginsignup:hover{
    background-color: lightgreen;
}
/* profile Button */
#profilebtn{
    vertical-align:top;
    margin-left: 10px;

}

/* horizontal line */
#hr1{
  margin-top: 180px;
  height:2px;
  border-width:0;
  color:black;
  background-color:black;
}
hr{
   
    height:2px;
    border-width:0;
    color:black;
    background-color:black;
}

/* navigation bar */
.navi {
    width: 38%;
    margin-top: 0px;
    margin-left: 4px;
    border-radius :25px;
    overflow: hidden;
    background-color: lightskyblue;
    border: 2px solid black;
}
  
.navi a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 26px 14px 26px;
    text-decoration: none;
    font-size: 17px;
}
  
.navi a:hover {
    background-color: lightgreen;
    color: black;
}
  
  /* .navi a.active {
    background-color: lightskyblue;
    color: white;
  } */

  /* FOOTER */
.footer{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    height: auto;
    background: lightskyblue;
    border: 1px solid lightskyblue;
}

.foot-cols{
    padding: 5px 5px 5px 4px;
    width: 32.5%;
}



/* Content  */
.cont{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    height: auto;

}

.mid-cols{
    padding: 50px 0px 0px 10px;
    width: 32.5%;
}
.drop{
    padding: 10px;
    width: 80%;
    height: 100%;
    max-height: 80%;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}
.gps{
    margin-top: 50px;

}

  /* div{
    border: 1px solid black;
}   */

/*Sign up page */

div.signup{
   max-width: 50%;
   margin:20px auto;
   padding:30px;
   border:1px black solid;
   background-color:lightgray;
}
div.signup hr{
   margin-top:0 !important;
   margin-bottom: 20px;
}
div.signup span{
   margin-left:150px;
   display: flex;
   justify-content:space-between;
   width:400px;
}

.submitip{
   border-radius:0;
   border: 2px black solid;
   background-color:lightskyblue;
   padding: 10px 24px;
   margin:50px 40%;
   cursor:pointer;
}
.submitip:hover{
   background-color: pink;
}

/* Category page */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

.grid-container{
display:grid;
gap:10px;
grid-template-columns:auto auto;
paddings:10px;
}

.grid-item{
border:1px;
padding:0px;
}

body {
  color: #272727;
  font-family:'quicksand', serif;
  font-style: normal;
  font-weight: 100;
  letter-spacing: 0;
  padding: 0rem;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  padding:10px;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}

#offer{
    
    vertical-align: middle;
  
    width:120px;
    height:45px;
    border: 2px solid black;
    border-radius: 12px;
    padding: 5px;
    margin-right: 8px;
    margin-bottom: 45px;
    margin-top:180px;
    background-color:yellow;
    cursor:pointer;
}
#offer:hover{
    background-color: white;
}

#moredetail{
    
    vertical-align: middle;
    width:120px;
    height:45px;
    border: 2px solid black;
    border-radius: 12px;
    padding: 5px;
    margin-right: 8px;
    margin-bottom: 25px;
    margin-top :180px;
    background-color:yellow;
    cursor:pointer;
}
#moredetail:hover{
    background-color: white;
}





























